<div class="row marketing">
  <div class="sidebar">
  <ul >
    <li class="btn btn-sm" ng-repeat="item in list" ng-click="toggle($event, item.name)">{{item.name}} ({{item.diff}})</li>
  </ul>
  </div>
  <live-graph></live-graph>
  <p>{{stuff}}</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Built with Yeoman, Angular, JQuery and Highcharts</p>
</div>
